@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.header {
  padding: 0 6rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header__logo a {
    text-decoration: none;
    font-size: 2rem;
    color: #ffffffab;
    font-family: 'Cutive Mono', monospace; }
  .header__links {
    display: flex;
    list-style: none;
    font-size: 1.4rem; }
  .header__item:not(:last-child) {
    margin-right: 2rem; }
  .header__item a {
    color: #ffffffab;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .header__item a svg.svg-inline--fa.fa-w-16 {
      width: 2em; }
    .header__item a:hover {
      color: #fff; }

.hero {
  width: 45%;
  margin: auto;
  padding: 10rem 0; }
  .hero__title {
    font-size: 4rem;
    margin-bottom: -1.5rem;
    font-family: 'Cutive Mono', monospace; }
  .hero__description {
    font-size: 2.5rem;
    color: #b9b9b9;
    font-family: 'Cutive Mono', monospace;
    line-height: 1.1; }
  .hero__paragraph {
    font-size: 1.4rem;
    margin-top: 2rem; }

.adlantern,
.were-history,
.rannko,
.dhm,
.iced-tea {
  padding: 1rem 6rem; }
  .adlantern__items,
  .were-history__items,
  .rannko__items,
  .dhm__items,
  .iced-tea__items {
    display: flex;
    list-style: none; }
  .adlantern__image,
  .were-history__image,
  .rannko__image,
  .dhm__image,
  .iced-tea__image {
    margin-top: -2rem; }
  .adlantern__description,
  .were-history__description,
  .rannko__description,
  .dhm__description,
  .iced-tea__description {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .adlantern__description-text,
    .were-history__description-text,
    .rannko__description-text,
    .dhm__description-text,
    .iced-tea__description-text {
      font-size: 1.6rem; }
  .adlantern__see-more,
  .were-history__see-more,
  .rannko__see-more,
  .dhm__see-more,
  .iced-tea__see-more {
    margin-top: 1rem;
    cursor: pointer; }
    .adlantern__see-more svg.svg-inline--fa,
    .were-history__see-more svg.svg-inline--fa,
    .rannko__see-more svg.svg-inline--fa,
    .dhm__see-more svg.svg-inline--fa,
    .iced-tea__see-more svg.svg-inline--fa {
      width: 2em;
      height: 2em; }

.adlantern-expanded,
.were-history-expanded,
.rannko-expanded,
.dhm-expanded,
.iced-tea-expanded {
  display: none;
  padding: 6rem;
  background-color: #f3f3f3;
  -moz-box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.2); }
  .adlantern-expanded__items,
  .were-history-expanded__items,
  .rannko-expanded__items,
  .dhm-expanded__items,
  .iced-tea-expanded__items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .adlantern-expanded__items li,
    .were-history-expanded__items li,
    .rannko-expanded__items li,
    .dhm-expanded__items li,
    .iced-tea-expanded__items li {
      margin-left: 4rem; }
  .adlantern-expanded__card-image div,
  .were-history-expanded__card-image div,
  .rannko-expanded__card-image div,
  .dhm-expanded__card-image div,
  .iced-tea-expanded__card-image div {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    .adlantern-expanded__card-image div:hover,
    .were-history-expanded__card-image div:hover,
    .rannko-expanded__card-image div:hover,
    .dhm-expanded__card-image div:hover,
    .iced-tea-expanded__card-image div:hover {
      transform: translateY(-3px); }
  .adlantern-expanded__list,
  .were-history-expanded__list,
  .rannko-expanded__list,
  .dhm-expanded__list,
  .iced-tea-expanded__list {
    list-style: none; }
    .adlantern-expanded__list-item,
    .were-history-expanded__list-item,
    .rannko-expanded__list-item,
    .dhm-expanded__list-item,
    .iced-tea-expanded__list-item {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #333; }
    .adlantern-expanded__list-link,
    .were-history-expanded__list-link,
    .rannko-expanded__list-link,
    .dhm-expanded__list-link,
    .iced-tea-expanded__list-link {
      text-decoration: none;
      color: #333;
      border: 2px solid #333;
      display: block;
      text-align: center;
      padding: .5rem 0;
      margin-top: .5rem;
      transition: all .2s; }
      .adlantern-expanded__list-link:hover,
      .were-history-expanded__list-link:hover,
      .rannko-expanded__list-link:hover,
      .dhm-expanded__list-link:hover,
      .iced-tea-expanded__list-link:hover {
        background-color: #333;
        color: #f3f3f3; }

.adlantern {
  background-image: linear-gradient(to bottom right, #34679bdb 40%, #34679b 40%); }
  .adlantern__image-1 {
    width: 11rem;
    margin-top: 4.5rem;
    margin-left: -8rem; }
  .adlantern__image-2 {
    width: 40rem; }
  .adlantern__description img {
    width: 20rem;
    margin-bottom: -2rem;
    margin-top: -2rem; }
  .adlantern__description-text {
    color: #ffffffab;
    margin-left: 1.8rem; }
  .adlantern__see-more {
    color: #ffffffab;
    margin-left: 1.7rem; }
    .adlantern__see-more:hover {
      color: #fff; }

.adlantern-expanded__card-image-1 {
  background-image: url("../images/adlantern-signup.png");
  background-size: cover;
  background-position: center; }

.adlantern-expanded__card-image-2 {
  background-image: url("../images/adlantern-marketing.png");
  background-size: cover; }

.adlantern-expanded__card-image-3 {
  background-image: url("../images/adlantern-calendar.png");
  background-size: cover;
  background-position: center; }

.adlantern-expanded__list-item:nth-child(3n) {
  margin-bottom: 3rem; }

.were-history {
  margin-top: 1rem;
  background-image: linear-gradient(to bottom right, #f9f9f9 40%, #ececec 40%); }
  .were-history__items {
    justify-content: flex-end; }
  .were-history__description img {
    width: 30rem; }
  .were-history__description-text {
    color: #333333ab;
    margin-right: 1rem;
    text-align: right; }
  .were-history__see-more {
    color: #333333ab;
    text-align: right;
    margin-right: .8rem; }
    .were-history__see-more:hover {
      color: #333; }
  .were-history__image {
    margin-top: -4rem; }
    .were-history__image img {
      width: 35rem; }

.were-history-expanded__card-image-1 {
  background-image: url("../images/wh-section.png");
  background-size: cover;
  background-position: center; }

.were-history-expanded__card-image-2 {
  background-image: url("../images/wh-footer.png");
  background-size: cover;
  background-position: center; }

.were-history-expanded__card-image-3 {
  background-image: url("../images/wh-magazine.png");
  background-size: contain; }

.were-history-expanded__list-item {
  text-align: right; }
  .were-history-expanded__list-item:nth-child(4n) {
    margin-bottom: 3rem; }

.rannko {
  margin-top: 1rem;
  background-image: linear-gradient(to bottom right, #1d61ecdb 40%, #1d61ec 40%); }
  .rannko__image img {
    width: 40rem; }
  .rannko__description img {
    width: 20rem;
    margin-bottom: -.5rem; }
  .rannko__description-text {
    color: #ffffffab;
    margin-left: .8rem; }
  .rannko__see-more {
    color: #ffffffab;
    margin-left: .8rem; }
    .rannko__see-more:hover {
      color: #fff; }

.rannko-expanded__card-image-1 {
  background-image: url("../images/rannko-analytics.png");
  background-size: cover;
  background-position: center; }

.rannko-expanded__card-image-2 {
  background-image: url("../images/rannko-screen.png");
  background-size: cover;
  background-position: center; }

.rannko-expanded__card-image-3 {
  background-image: url("../images/rannko-charts.png");
  background-size: cover;
  background-position: center; }

.rannko-expanded__list-item:nth-child(3n) {
  margin-bottom: 3rem; }

.dhm {
  margin-top: 1rem;
  background-image: linear-gradient(to bottom right, #f9f9f9 40%, #ececec 40%); }
  .dhm__items {
    justify-content: flex-end; }
  .dhm__description-text {
    color: #333333ab;
    text-align: right; }
  .dhm__see-more {
    color: #333333ab;
    text-align: right; }
    .dhm__see-more:hover {
      color: #333; }
  .dhm__title {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: -.5rem; }
  .dhm__image img {
    width: 35rem;
    border: 4px solid #333;
    padding: 2rem;
    background-color: #fff;
    transform: rotate(3deg);
    margin-left: 4rem; }

.dhm-expanded__card-image-1 {
  background-image: url("../images/dhm-44panel.jpg");
  background-size: cover; }

.dhm-expanded__card-image-2 {
  background-image: url("../images/dhm-halloween.jpg");
  background-size: cover;
  background-position: center; }

.dhm-expanded__card-image-3 {
  background-image: url("../images/dhm-book.jpg");
  background-size: cover; }

.dhm-expanded__list-item {
  text-align: right; }

.iced-tea {
  margin-top: 1rem;
  background-image: linear-gradient(to bottom right, #81dfe1db 40%, #81dfe1 40%); }
  .iced-tea__image img {
    width: 22rem;
    border: 4px solid #333;
    transform: rotate(-3deg);
    margin-right: 6rem; }
  .iced-tea__title {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: -.5rem; }
  .iced-tea__description-text {
    font-size: 1.7rem;
    color: #fff; }
  .iced-tea__see-more {
    color: #fff; }
    .iced-tea__see-more:hover {
      color: #ffffffab; }

.iced-tea-expanded__card-image-1 {
  background-image: url("../images/its-poster.jpg");
  background-size: cover;
  background-position: center; }

.iced-tea-expanded__card-image-2 {
  background-image: url("../images/its-logo.jpg");
  background-size: cover; }

.iced-tea-expanded__card-image-3 {
  background-image: url("../images/its-shirt.jpg");
  background-size: cover;
  background-position: center; }

.iced-tea-expanded__list-item:nth-child(3n) {
  margin-bottom: 3rem; }

.chat {
  padding: 6rem;
  text-align: center; }
  .chat__header {
    font-family: 'Cutive Mono', monospace;
    font-size: 4rem;
    margin-bottom: -1rem; }
  .chat__subheader {
    font-family: 'Cutive Mono', monospace;
    font-size: 2.5rem;
    color: #b9b9b9;
    margin-bottom: 4rem; }
  .chat__contact-link {
    display: inline-block;
    color: #333;
    border: 3px solid #333;
    padding: 4rem;
    border-radius: 50%;
    transition: all .2s; }
    .chat__contact-link:not(:last-child) {
      margin-right: 2rem; }
    .chat__contact-link:hover {
      color: #fff;
      background-color: #333; }
    .chat__contact-link svg.svg-inline--fa {
      width: 4em;
      height: 4em; }

.footer {
  background-color: #333;
  color: #ffffffab;
  padding: 6rem;
  text-align: center;
  font-size: 1.2rem; }

@media only screen and (max-width: 1024px) {
  .adlantern-expanded__items li,
  .were-history-expanded__items li,
  .rannko-expanded__items li,
  .dhm-expanded__items li,
  .iced-tea-expanded__items li {
    margin-left: 1rem; } }

@media only screen and (max-width: 768px) {
  .hero {
    padding: 8rem 0; }
  .adlantern__description-text {
    line-height: 1.1; }
  .dhm__title {
    text-align: right;
    line-height: 1;
    margin-bottom: unset; }
  .were-history,
  .rannko,
  .dhm,
  .iced-tea {
    margin-top: 5rem; }
    .were-history__description-text,
    .rannko__description-text,
    .dhm__description-text,
    .iced-tea__description-text {
      line-height: 1.1; }
  .adlantern-expanded__items,
  .were-history-expanded__items,
  .rannko-expanded__items,
  .dhm-expanded__items,
  .iced-tea-expanded__items {
    flex-wrap: wrap; }
    .adlantern-expanded__items > li:nth-child(odd),
    .were-history-expanded__items > li:nth-child(odd),
    .rannko-expanded__items > li:nth-child(odd),
    .dhm-expanded__items > li:nth-child(odd),
    .iced-tea-expanded__items > li:nth-child(odd) {
      margin-right: 4rem; }
    .adlantern-expanded__items > li:nth-child(-n+2),
    .were-history-expanded__items > li:nth-child(-n+2),
    .rannko-expanded__items > li:nth-child(-n+2),
    .dhm-expanded__items > li:nth-child(-n+2),
    .iced-tea-expanded__items > li:nth-child(-n+2) {
      margin-bottom: 2rem; } }

@media only screen and (max-width: 600px) {
  .header {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center; }
  .hero {
    width: 65%; }
    .hero__title {
      line-height: 1;
      margin-bottom: unset; }
  .were-history,
  .rannko,
  .dhm,
  .iced-tea {
    margin-top: 3rem; }
  .adlantern,
  .were-history,
  .rannko,
  .dhm,
  .iced-tea {
    padding: 1rem; }
    .adlantern__description img,
    .were-history__description img,
    .rannko__description img,
    .dhm__description img,
    .iced-tea__description img {
      width: 15rem; }
    .adlantern__description-text,
    .were-history__description-text,
    .rannko__description-text,
    .dhm__description-text,
    .iced-tea__description-text {
      margin-left: 0;
      font-size: 1.2rem; }
  .adlantern__image {
    margin-bottom: -1rem; }
    .adlantern__image-2 {
      width: 20rem; }
    .adlantern__image-1 {
      width: 5rem; }
  .adlantern__description img {
    margin-bottom: -1rem; }
  .were-history__image {
    margin-top: -2rem;
    margin-bottom: -1rem; }
    .were-history__image img {
      width: 20rem; }
  .rannko__image img {
    width: 20rem; }
  .dhm__title {
    font-size: 1.5rem; }
  .dhm__image img {
    width: 18rem; }
  .iced-tea__image img {
    width: 15rem;
    margin-right: 1rem; }
  .iced-tea__title {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1;
    margin-bottom: unset; }
  .chat {
    padding: 4rem; }
    .chat__subheader {
      line-height: 1; }
    .chat__contact-link {
      display: block;
      padding: 2rem;
      border-radius: 0; }
      .chat__contact-link:not(:last-child) {
        margin-bottom: 1rem;
        margin-right: 0; }
  .adlantern-expanded,
  .were-history-expanded,
  .rannko-expanded,
  .dhm-expanded,
  .iced-tea-expanded {
    padding: 3rem; }
    .adlantern-expanded__items,
    .were-history-expanded__items,
    .rannko-expanded__items,
    .dhm-expanded__items,
    .iced-tea-expanded__items {
      display: block;
      width: 65%;
      margin: 0 auto; }
      .adlantern-expanded__items > li,
      .were-history-expanded__items > li,
      .rannko-expanded__items > li,
      .dhm-expanded__items > li,
      .iced-tea-expanded__items > li {
        margin-left: unset;
        margin-bottom: 2rem; }
      .adlantern-expanded__items > li:nth-child(odd),
      .were-history-expanded__items > li:nth-child(odd),
      .rannko-expanded__items > li:nth-child(odd),
      .dhm-expanded__items > li:nth-child(odd),
      .iced-tea-expanded__items > li:nth-child(odd) {
        margin-right: unset; }
      .adlantern-expanded__items > li:nth-child(-n+2),
      .were-history-expanded__items > li:nth-child(-n+2),
      .rannko-expanded__items > li:nth-child(-n+2),
      .dhm-expanded__items > li:nth-child(-n+2),
      .iced-tea-expanded__items > li:nth-child(-n+2) {
        margin-bottom: 2rem; } }
